<script>
    $('.negative')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
</script>
<div class="ui raised padded text container segment">
    <h2 class="ui blue image header">
        <img src="images/fakelogo.jpg" class="image">
        <div class="content">
            <span style="color:green">Register</span> to build some briefs.
        </div>
    </h2>
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            Errors:
        </div>
        <p ng-repeat="error in errors track by $index">{{error}}</p>
    </div>
    <form class="ui medium form segment" ng-submit="register(newUser)">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" ng-model="newUser.name" placeholder="Your Name">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="mail outline icon"></i>
                <input type="email" ng-model="newUser.email" placeholder="Email">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" ng-model="newUser.password" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" ng-model="newUser.passwordConfirm" placeholder="Confirm Password">
            </div>
        </div>
        <input type="submit" class="ui fluid blue button">
    </form>
    <div class="ui message">
        Already have an account? <a href='#!/login'>Login</a>
    </div>
</div>