<style>
    .rmore {
        font-size:25px;
    }
    .linkz {
        margin-top:15px;
    }
</style>
<div class="ui center aligned container" ng-controller="newsController">     
        <div class="ui container">
            <div class="ui menu" ng-controller='usersController'>
                <img class "header item" style="height: 40px; width: 40px" src="images/fakelogo.jpg" alt="smarty pants briefs doodle">
                <a class="item" href="#!/brief">View Briefs</a>
                <a class="item" href="#!/add">Add Brief Book</a>
                <a class="floated right item" ng-click='logOut()'>Log Out</a>
            </div>   
            <div class="ui segment">
                <h1>Today's brief (5/21/17)</h1>
                <h2>Survey Response</h2>
                <p> Please choose which articles were most useful.</p>
            </div>
            <div class="ui segment three column stackable grid left aligned" ng-repeat="article in articles">
                <div class="ten wide column">
                    <div class="content">
                        <h4 class="header">{{article.title}}</h4>
                        <p class="description">{{article.description}}</p>
                        <div class="header">
                            <a class="rmore" href="{{article.url}}">Read More</a>
                        </div>
                    </div>
                    <div class="ui buttons" ng-hide="article.disabled">
                        <button class="ui button" ng-click="helpful(article)">Useful</button>
                        <div class="or"></div>
                        <button class="ui positive button" ng-click="useless(article)">NOT Useful</button>
                    </div>
                </div>
                <div class="four wide column">
                    <img class="ui fluid image" src="{{article.urlToImage}}"</img>
                </div>
            </div>
        </div>
</div>